/Pattern.Factory.Solution/.vs/Pattern.Factory.Solution/DesignTimeBuild/.dtbcache.v2
/Pattern.Factory.Solution/.vs/Pattern.Factory.Solution/FileContentIndex/0e6c95d7-3ce9-4322-88d1-635b90348385.vsidx
/Pattern.Factory.Solution/.vs/Pattern.Factory.Solution/FileContentIndex/2967addc-0049-4e29-97c5-ecbcf224083d.vsidx
/Pattern.Factory.Solution/.vs/Pattern.Factory.Solution/FileContentIndex/405d6567-7a30-4e8d-b06e-dd70522be56d.vsidx
/Pattern.Factory.Solution/.vs/Pattern.Factory.Solution/FileContentIndex/415e20c3-2342-49e7-b8a8-f919c874c2a8.vsidx
/Pattern.Factory.Solution/.vs/Pattern.Factory.Solution/FileContentIndex/c049edd9-a390-417c-9327-d3d71df80824.vsidx
/Pattern.Factory.Solution/.vs/Pattern.Factory.Solution/FileContentIndex/fb70680e-8d91-48b0-90f5-11e3259b9c38.vsidx
/Pattern.Factory.Solution/.vs/Pattern.Factory.Solution/v17/.futdcache.v2
/Pattern.Factory.Solution/.vs/Pattern.Factory.Solution/v17/.suo
/Pattern.Factory.Solution/.vs/ProjectEvaluation/pattern.factory.solution.metadata.v7.bin
/Pattern.Factory.Solution/.vs/ProjectEvaluation/pattern.factory.solution.projects.v7.bin
/Pattern.Factory.Solution/Pattern.Factory.Core/bin/Debug/net8.0/Pattern.Factory.Core.deps.json
/Pattern.Factory.Solution/Pattern.Factory.Core/bin/Debug/net8.0/Pattern.Factory.Core.dll
/Pattern.Factory.Solution/Pattern.Factory.Core/bin/Debug/net8.0/Pattern.Factory.Core.pdb
/Pattern.Factory.Solution/Pattern.Factory.Core/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
/Pattern.Factory.Solution/Pattern.Factory.Core/obj/Debug/net8.0/Pattern.Factory.Core.AssemblyInfo.cs
/Pattern.Factory.Solution/Pattern.Factory.Core/obj/Debug/net8.0/Pattern.Factory.Core.AssemblyInfoInputs.cache
/Pattern.Factory.Solution/Pattern.Factory.Core/obj/Debug/net8.0/Pattern.Factory.Core.assets.cache
/Pattern.Factory.Solution/Pattern.Factory.Core/obj/Debug/net8.0/Pattern.Factory.Core.csproj.CoreCompileInputs.cache
/Pattern.Factory.Solution/Pattern.Factory.Core/obj/Debug/net8.0/Pattern.Factory.Core.csproj.FileListAbsolute.txt
/Pattern.Factory.Solution/Pattern.Factory.Core/obj/Debug/net8.0/Pattern.Factory.Core.dll
/Pattern.Factory.Solution/Pattern.Factory.Core/obj/Debug/net8.0/Pattern.Factory.Core.GeneratedMSBuildEditorConfig.editorconfig
/Pattern.Factory.Solution/Pattern.Factory.Core/obj/Debug/net8.0/Pattern.Factory.Core.GlobalUsings.g.cs
/Pattern.Factory.Solution/Pattern.Factory.Core/obj/Debug/net8.0/Pattern.Factory.Core.pdb
/Pattern.Factory.Solution/Pattern.Factory.Core/obj/Debug/net8.0/Pattern.Factory.Core.sourcelink.json
/Pattern.Factory.Solution/Pattern.Factory.Core/obj/Debug/net8.0/ref/Pattern.Factory.Core.dll
/Pattern.Factory.Solution/Pattern.Factory.Core/obj/Debug/net8.0/refint/Pattern.Factory.Core.dll
/Pattern.Factory.Solution/Pattern.Factory.Core/obj/Pattern.Factory.Core.csproj.nuget.dgspec.json
/Pattern.Factory.Solution/Pattern.Factory.Core/obj/Pattern.Factory.Core.csproj.nuget.g.props
/Pattern.Factory.Solution/Pattern.Factory.Core/obj/Pattern.Factory.Core.csproj.nuget.g.targets
/Pattern.Factory.Solution/Pattern.Factory.Core/obj/project.assets.json
/Pattern.Factory.Solution/Pattern.Factory.Core/obj/project.nuget.cache
